

/* Side Nav */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


 
 body {
  font-family: 'Playfair Display', serif;
 
  }
  
  a {
    color: #43aea0;
  }
  
  a:hover {
    color: #00d3b8;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: 'Playfair Display', serif;
  }


/* .big-banner{
    background-image: url('../img/bald-eagle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
} */
#banner {
    width: 100%;
    height: 95vh;
    /* background: url("../img/bald-eagle.jpg") top center; */
    background-image: url('../img/bald-eagle.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    /* margin-bottom: -25px; */
  }

  /* #hero: {
    content: "";
    background: rgba(112, 185, 176, 0.85);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

  } */
  .dark-overlay{
    background-color: rgba(0,0,0,0.6);
	  position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #banner .banner-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .header-banner{
    font-weight: bold;
    font-size: 100px;
  }
  @media (max-width: 400px) {
    #banner {
        width: 100%;
        height: 45vh;      
        font-size: 25px;
    }

    h1, h2, h3, h4, h5, h6, .font-primary, .header-banner {
        font-size: 20px;
        
      }
  }
.main{
    margin-top: 80px;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
  section {

    padding: 40px 0;
  }
  
  .section-bg {
    background-color: #f2f9f8;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: solid 1px;
  }
  
  .section-title h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 20px 20px;
    padding-bottom: 0;
    color:black;
  }
  
  .section-title p {
    margin-bottom: 0;
    
  }

  /* image rotation */

  .rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.img-gallery{
  margin-top: 20px;
  width: 300px;
}


